.navbar-brand {
    .navbar-brand-text {
        letter-spacing: 0.4px;
        font-weight: 700 !important;
    }

    .navbar-logo {
        max-height: 9vh;
    }
}

.nav-link {
    font-weight: 400;
}

.active {
    font-weight: 700;
}